params {
    // deskew defaults
    dx          = 0.15
    dz          = 0.318
    angle       = 45
    flip        = 1

    // deconvolution defaults
    background  = 0
    iter        = 10

    // default psf generation mode
    no_blind    = false

    // optional blind estimation tuning
    // blind_iters = 10
    // chunk_xy    = 256
    // pad_xy      = 32
}

process {
    executor = 'slurm'

    withName: DESKEW {
        cpus   = 4
        memory = '16 GB'
        queue  = 'super'
    }

    withName: DECON {
        conda          = "${projectDir}/environment.yml"
        queue          = 'GPU'
        clusterOptions = '--gres=gpu:1'
        cpus           = 4
        memory         = '32 GB'
    }
}
