process {
    executor = 'slurm'              
    memory = '32 GB'
    cpus = 4
    time = '1h'

    withName: 'DESKEW' {
        conda = '/home2/s249154/.conda/envs/decon_env'
        queue = 'super'         
        cpus = 16               
        time = '4h'
    }

    withName: 'BLIND_DECON' {
        conda = '/home2/s249154/.conda/envs/decon_env'
        queue = 'gpu'          
        clusterOptions = '--gres=gpu:1' 
        cpus = 4                
        time = '15m'           
    }
}