/*
 * BioHPC Astrocyte entry-point config.
 *
 * Astrocyte reads the config named by astrocyte_pkg.yml. Include the standard
 * workflow config, then enable Singularity image caching for package-declared
 * containers while keeping the workflow's decon runtime build path enabled.
 */

includeConfig 'nextflow.config'

singularity {
  enabled = true
  runOptions = ''                             // Please do NOT use "--disable-cache" in this runOptions.
                                              // Starting from version 2.0.0, the astrocyte_cli will clean up the cache automatically.
  // runOptions = '--bind /vagrant:/vagrant'  // Use this one for vagrant development env only
  cacheDir = "$baseDir/images/singularity"    // Singularity images specified in `workflow_containers` of astrocyte_pkg.yml will be saved to
                                              // this folder automatically, before running the workflow. The images will be renamed as
                                              // "NAME-TAG.img", e.g. ubuntu-latest.img, centos-centos8.img, r-4.1.1.img, etc.
}

conda.enabled = false

params.build_decon_container = true

profiles {
    light_sheet {
        conda.enabled = false
    }

    wide_frame {
        conda.enabled = false
    }

    light_sheet_decon {
        conda.enabled = false
    }
}

trace.overwrite = true
timeline.overwrite = true
report.overwrite = true
dag.overwrite = true
