def mcrroot = System.getenv('MCRROOT')
def defaultMatlabRoot = '/home1/apps/MATLAB/R2024a'
def matlabRoot = mcrroot ? new File(mcrroot).parent : (new File(defaultMatlabRoot).exists() ? defaultMatlabRoot : null)
def matlabBin = matlabRoot ? "${matlabRoot}/bin/matlab" : 'matlab'

params {
    image_files = []
    input = []
    image_path = ''
    output_dir = './workflow/output'
    output_formats = 'ome_zarr'
    decon_runtime_dir = '-1'

    background = -1
    iter = -1

    na = -1
    detection_na = -1
    illumination_na = -1
    wavelength = -1
    ni = -1
    ns = -1
    ni0 = -1
    tg = -1
    tg0 = -1
    ng = -1
    ng0 = -1
    ti0 = -1
    oversample_factor = 3
    psf_model = 'vectorial'
    psf_mode = 'single'
    light_sheet_angle = 90
    camera_pixel_size = -1
    magnification = -1
    dxy = -1
    dz = -1
    psf_size_z = 101
    psf_size_xy = 61

    blind_iters = -1
    chunk_xy = -1
    decon_chunk_xy = -1
    pad_xy = 32
    pad_z = 20
    blind_workers = 72
    matlab_workers = 24
    matlab_threads = 1
    matlab_bin = matlabBin
    matlab_root = matlabRoot ?: ''
    matlab_timeout = 1800
    blind_z_slices = 128
    snr_weight_cap = 100
    prefetch_chunks = 0
    decon_workers = -1
    overlap_xy = 0
    vram_gb = -1
    psf_cache_dir = ''
    no_psf_cache = false
    build_decon_container = true
}

profiles {
    my_cluster {
        conda.enabled = true
    }

    wide_frame {
        conda.enabled = false
        params.psf_mode = 'single'
    }

    light_sheet {
        conda.enabled = false
        params.psf_mode = 'light_sheet'
        params.light_sheet_angle = 90
    }

    conda_runtime {
        conda.enabled = false
        params.build_decon_container = true
    }
}

process {
    executor = 'slurm'

    withName: DECON {
        queue = 'GPU'
        clusterOptions = '--gres=gpu:1'
        cpus = 72
        memory = '256 GB'
    }
}
